.ServiceCardHero img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.ServiceCardHero h2{
    font-family: var(--ms-font-primary);
    color: var(--ms-color-primary);
    font-size: 3rem;
}

.ServiceCardHero p{
    font-family: var(--ms-font-primary);
    color: var(--ms-color-third);
    font-size: 1.4rem;
    padding: 0 100px 0 0;
}

.btnService{
    text-decoration: none;
}

.MSsolucoes h3{
    font-family: var(--ms-font-primary);
    color: var(--ms-color-primary);
    font-size: 1.5rem;
    text-align: center;
}

.MSsolucoes h4{
    font-family: var(--ms-font-primary);
    color: var(--ms-color-secondary);
    font-size: 3rem;
    text-align: center;
}

.MSsolucoes p{
    font-family: var(--ms-font-primary);
    color: var(--ms-color-third);
    font-size: 1.4rem;
    text-align: center;
    padding: 0 180px;
}

.ServicesOp1{
    background-color: #f4f3f3;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column; 
}

.ServicesOp1 h5{
    font-family: var(--ms-font-primary);
    color: var(--ms-color-primary);
    font-size: 3rem;
}

.ServicesOp1 p{
    font-family: var(--ms-font-primary);
    color: var(--ms-color-third);
    font-size: 1rem;
}

.ServicesOp1 img{
    width: 90%;
    height: auto;
    border-radius: 15px;
}

.ServicesOp2{
    
    width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column; 
}

.ServicesOp2 h5{
    font-family: var(--ms-font-primary);
    color: var(--ms-color-primary);
    font-size: 3rem;
}

.ServicesOp2 p{
    font-family: var(--ms-font-primary);
    color: var(--ms-color-third);
    font-size: 1rem;
}

.ServicesOp2 img{
    width: 90%;
    height: auto;
    border-radius: 15px;
}


/* --- Responsividade --- */
@media (max-width: 991.98px) { /* Tablet e Mobile */

    .ServiceCardHero p{
    font-size: 1rem;
    padding: 0;
}

.ServiceCardHero h2{
    text-align: center;
}

.MSsolucoes p{

    padding: 0;
}

.ServicesOp1 img{
    width: 100%;
}


.ServicesOp1 h5{
    text-align: center;
}

.ServicesOp2 img{
    width: 100%;
}

.ServicesOp2 h5{
    text-align: center;
}

}
