

/* Define a altura mínima do contêiner para que o efeito paralaxe seja perceptível */
.home-hero-parallax {
    min-height: 600px; /* altura da seção do Hero */
    background-image: url('../../Assets//home/hero.jpg'); /* Caminho para sua imagem */
    background-attachment: fixed; /* Isso cria o efeito paralaxe */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-size: cover; /* Garante que a imagem cubra todo o espaço */
    position: relative; /* Necessário para posicionar o conteúdo filho se precisar */
    color: white; /* Cor do texto para contraste com a imagem de fundo */
    padding: 100px 0; /* Adiciona um padding interno para o conteúdo */
}



/* Garantir que o conteúdo fique acima do overlay */
.home-hero-content {
    position: relative;
    z-index: 2; /* Garante que o conteúdo fique acima do overlay */
}


.home-hero h1{
    font-family: var(--ms-font-primary);
    font-weight: 700;
    font-size: 4rem;
}

.home-hero h2{
    font-family: var(--ms-font-primary);
    color: var(--ms-color-secondary);
    font-size: 1.6rem;
}

.home-hero p{
    font-family: var(--ms-font-secondary);
    max-width: 500px;
    font-size: 1.2rem;
}
