/* Home.css */

.Cards {

    position: relative; 
    z-index: 3; 
    margin-top: -100px; 

    padding-bottom: 50px;

}



.CardInfo h4 {
    color: var(--ms-color-primary); 
    font-size: 4rem;
    text-align: center;
    margin-bottom: 1rem;
}

.CardInfo h3 {
    color: var(--ms-color-primary);
    font-family: var(--ms-font-primary);
    font-weight: 300;
    text-align: center;
    line-height: 1.2;
}

.CardInfo span {
    font-weight: 500;
 
}

.cardHover:hover{
    background-color: var(--ms-color-secondary);
   
    transition: 0.5s;
     transform: scale(1.05);
}


.QuemSomos h5{
    color: var(--ms-color-primary);
    font-family: var(--ms-font-primary);
    font-weight: 600;
    font-size: 3rem;
}

.QuemSomos p{
    
    font-family: var(--ms-font-secondary);
    max-width: 90%;
    color: var(--ms-color-third);
}

 /* ANIMAÇÃO DA IMAGEM */
.QuemSomos img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    opacity: 0; /* Começa invisível */
    transform: translateY(50px); /* Começa 50px abaixo da posição final */
    transition: opacity 1s ease-out, transform 0.8s ease-out; /* Transição suave */
    /* Ajuste a duração (0.8s) e a função de temporização (ease-out) conforme o desejado */
}

/* Classe para quando a imagem deve aparecer (adicionada via JavaScript) */
.QuemSomos img.animate-in {
    opacity: 1; /* Torna visível */
    transform: translateY(0); /* Move para a posição final */
}

.ParaQuem img{
    max-width: 100%;
    height: auto;
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 1s ease-out, transform 0.8s ease-out; 
   
}

.ParaQuem img.animate-in {
    opacity: 1; 
    transform: translateY(0);
}

.ParaQuem h4{
    font-family: var(--ms-font-primary);
    font-size: 3rem;
    color: var(--ms-color-primary);
}

.ParaQuem h6{
    font-family: var(--ms-font-primary);
    font-size: 2rem;
    font-weight: 300;
    color: var(--ms-color-primary);
}

.ParaQuem span{
   font-size: 4rem;
   margin-right: 10px;
}

.ParaQuem p{
   font-family: var(--ms-font-secondary);
   color: var(--ms-color-third);
   font-size: 1rem;
}


.Services{
    background-color: #f4f3f3;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column; 
}

.Services h6{
    font-family: var(--ms-font-primary);
    color: #484847;
    font-size: 2.3rem;
}

.Services h5{
    font-family: var(--ms-font-primary);
    color: #484847;
    font-size: 2rem;
}

.Services h3{
    font-family: var(--ms-font-secondary);
    font-weight: 300;
    color: #484847;
    font-size: 1.2rem;
}

.fontIcon{
    color: var(--ms-color-secondary);
    font-size: 2rem;
}

.Services span{
    background-color: var(--ms-color-secondary);
    padding: 0 10px 10px 10px;
    border-radius: 10px;
    
}

.Services p{
   font-family: var(--ms-font-secondary);
   color: var(--ms-color-third);
   font-size: 1rem;
}

.Services img{
   width: 100%;
   height: auto;
}







/* --- Responsividade --- */
@media (max-width: 991.98px) { /* Tablet e Mobile */
  
 .QuemSomos p{

    max-width: 100%;
}

/* Para mobile, ajuste da transição ou a distância se necessário */
.QuemSomos img {
        transform: translateY(30px); /* Distância menor no mobile */
    }

.ParaQuem img {
        transform: translateY(30px); /* Distância menor no mobile */
    }    

    .ParaQuem span{
   font-size: 2rem;
   margin-right: 0;
}

.Services{
    text-align: center;
}


.Services h6{

    font-size: 2rem;
}

.Services img{

    width: 90%;

}

}