.Nav{
    background-color: var(--ms-color-primary);
    font-family: var(--ms-font-secondary);
}

.nav_link{
   
    text-decoration: none;
    color: #ffffff;
}

.nav_link:hover{
    color: var(--ms-color-secondary);
}



/* --- Responsividade --- */
@media (max-width: 991.98px) { /* Tablet e Mobile */
  
    .logonav{
        max-height: 30px;
    }

}
