@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {

  /* Vari치veis de Cores */  
  --ms-color-primary: #376eb5; /* Cor primaria do projeto */
  --ms-color-secondary: #ffd700; /* Cor secund치ria do projeto */

  /* Vari치veis de Fontes */
  --ms-font-primary: 'Oswald', sans-serif; /* Fonte Principal */
  --ms-font-secondary: 'Roboto', monospace; /* Opcional: para c칩digo, se precisar */


}